@model CodeVision.Web.ViewModels.Document
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<pre class="@Model.PrismCssClassName" data-keep-tags="kbd">
<code class="@Model.PrismCssClassName">
@Html.Raw(Model.Text)
</code>
</pre>
